@charset "UTF-8";
/* CSS Document */


/* ////////////////////////////////////////////////////////////////////////////////

	Common

//////////////////////////////////////////////////////////////////////////////// */
@font-face 

html {
	scroll-behavior: smooth;
}
body {
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: min(3.4vw, 20px);
	line-height: 1.8;
  letter-spacing: 0.05em;
	-webkit-text-size-adjust: 100%;
  color: #fff;
}
body::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(150deg, #b36b2f 0%, #e39641 20%, #923958 60%, #35104f 90%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
body::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: url("../images/bg_texture.png") repeat left top;
  background-size: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: screen;
}

img {
	max-width: 100%;
	height: auto;
}
ul { list-style: none;}

.anim {
	opacity: 0;
	transition: all .6s ease-out;
}
.anim.on {
	opacity: 1;
}

#modalMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9998;
  display: none;
}
#modalMenu .modalMenuInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 20%;
}
#modalMenu .menuBlock {
  padding: min(6vw, 20px) min(10vw, 80px);
}
#modalMenu .menuBlock + .menuBlock {
  border-top: #000 solid 1px;
}

#modalMenu .pageMenu a {
  color: #000;
  text-decoration: none;
  font-feature-settings: "palt";
  font-size: min(5.6vw, 38px);
  line-height: 1.4;
}
#modalMenu .pageMenu a span {
  font-size: 0.6em;
}
#modalMenu .menuBlock ul {
  margin-top: min(4vw, 20px);
}
#modalMenu .menuBlock ul li + li {
  margin-top: min(1vw, 5px);
}
#modalMenu .menuBlock ul li a {
  color: #000;
  text-decoration: none;
  font-size: min(4.8vw, 28px);
}


@media screen and (min-width: 821px) {
	
	.sp { display: none;}
	
	a { transition: all 0.3s ease-out;}
	a:hover { opacity: 0.5;}
    
  #modalMenu .modalMenuInner {
    padding-bottom: 5%;
  }
	
}
@media screen and (max-width: 820px) {
	
	.pc { display: none;}
	}
}


#mainTitle {
  padding: min(18vw, 120px) 0 min(12vw, 80px);
  text-align: center;
}
#mainTitle .logo {
  line-height: 0;
  width: 60%;
  max-width: 460px;
  margin: 0 auto min(7vw, 40px);
}
#mainTitle h1 {
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-size: min(6.2vw, 64px);
  font-feature-settings: "palt";
  margin-bottom: min(6vw, 30px);
}
#mainTitle h1 span {
  display: block;
  font-size: 0.6em;
  font-weight: normal;
}

#mainTitle .catch {
  font-size: min(4vw, 28px);
  letter-spacing: 0.08em;
}



section {
  padding: min(6vw, 60px);
  max-width: 980px;
  margin: 0 auto;
}
section h2 {
  font-size: min(4.8vw, 36px);
  font-weight: normal;
  letter-spacing: 0.14em;
  margin-bottom: min(4vw, 20px);
}

#schedule h3 {
  font-size: min(4.2vw, 24px);
  margin-bottom: min(3vw, 15px);
}

.scheduleList {
  border-bottom: #fff solid 1px;
  margin-bottom: min(7vw, 40px);
}
.scheduleList dt {
  cursor: pointer;
  position: relative;
  border-top: #fff solid 1px;
  padding: min(2vw, 10px) min(10vw, 80px) min(2vw, 10px) 0;
}
.scheduleList dt::before,
.scheduleList dt::after {
  content: "";
  display: block;
  background-color: #fff;
  width: min(6vw, 30px);
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
}
.scheduleList dt::after {
  transition: all 0.3s ease-out;
  transform: rotate(90deg);
}
.scheduleList dt.on::after {
  transform: rotate(0deg);
}
.scheduleList dt .date {
  font-size: min(3.4vw, 20px);
  line-height: 1.4;
  margin-bottom: min(3vw, 15px);
}
.scheduleList dt .date span {
  font-size: 1.6em;
}
.scheduleList dt .venue {
  font-size: min(4.6vw, 28px);
  line-height: 1.5;
}
.scheduleList dd {
  display: none;
  padding-top: min(2vw, 15px);
  padding-bottom: min(4vw, 20px);
}
.scheduleList dd a {
  color: #fff;
  text-decoration: underline;
}
.scheduleList dd p + p {
  margin-top: min(3vw, 20px);
}

.siteTop {
  margin-top: min(10vw, 80px);
  position: relative;
  background: url("../images/mv_pic.jpg") no-repeat center bottom;
  background-size: cover;
  padding: 62% 0 10%;
}
.siteTop .topBtn {
  width: min(60vw, 320px);
  margin: 0 auto;
}
.siteTop .topBtn a {
  display: block;
  background-color: #fff;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: min(3vw, 15px);
  font-size: min(3.6vw, 18px);
}


@media screen and (min-width: 821px) {
  
  
  .scheduleList {
    display: flex;
    flex-wrap: wrap;
  }
  .scheduleList dt {
    width: 62%;
    padding: min(4vw, 20px) 0;
    pointer-events: none;
  }
  .scheduleList dt::before,
  .scheduleList dt::after {
    display: none;
  }
  .scheduleList dd {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    border-top: #fff solid 1px;
    padding-top: min(4vw, 20px);
  }
  .scheduleList dd p {
    font-size: min(3vw, 20px);
  }
  .scheduleList dd .open {
    font-size: min(3.4vw, 20px);
  }
  
  .siteTop {
    margin-top: min(10vw, 80px);
    position: relative;
    background: url("../images/mv_pic_pc.jpg") no-repeat center bottom;
    background-size: cover;
    padding: 62% 0 10%;
  }
  
  
}


.note {
  font-size: 0.84em;
}

.boxWrap {
  margin-bottom: min(8vw, 60px);
}
.boxWrap h3 {
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
  padding: min(2vw, 10px) 0;
  margin-bottom: min(4vw, 20px);
}
.boxWrap h4 {
  font-size: min(3.4vw, 220px);
  font-weight: 600;
  line-height: 1.4;
  margin: min(6vw, 30px) 0 min(2vw, 10px);
}
.boxWrap p {
  margin-bottom: min(4vw, 25px);
}

.boxWrap a {
  color: #fff;
  text-decoration: underline;
}

.txtList {
  list-style: disc;
  padding-left: min(4vw, 20px);
  margin-bottom: min(4vw, 20px);
}

.comingsoon {
  border: #fff solid 1px;
  padding: min(10vw, 80px) min(6vw, 30px);
  text-align: center;
  font-size: min(3.8vw, 25px);
}

.lineMarker {
    background: linear-gradient(transparent 20%, #e457a2 20%);
    padding: 6px 0;
}

.btnNormal {
  width: fit-content;
  margin: min(12vw, 80px) auto min(4vw, 20px);
}
.btnNormal a {
  background: #fff;
  padding: min(5vw, 24px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: min(3.4vw, 20px);
  color: #000;
  line-height: 1.7;
  text-align: center;
  text-decoration: none;
}

.btnList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(2vw, 10px) 0;
}
.btnList li {
  width: min(64vw, 320px);
}
.btnList li a {
  display: block;
  background-color: #fff;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: min(3vw, 15px);
  font-size: min(3.6vw, 20px);
}

@media screen and (min-width: 821px) {
  
  .btnList {
    flex-direction: row;
    justify-content: space-between;
    max-width: 780px;
    margin: 0 auto;
  }
  .btnList li {
    width: 48%;
  }
}
